<div class="row">
    <ul class="pagination">
        {{#if isFirstPage}}

        {{else}}
        <li><a title="上一页"  href="?p={{lastPage}}">&laquo;</a></li>
        {{/if}}

        {{#if isLastPage}}
        {{else}}
        <li><a title="下一页" href="?p={{nextPage}}">&raquo;</a></li>
        {{/if}}
    </ul>
</div>