{{#each posts}}
    <div class="row">
        {{#showYear @index}}
            <div><h3>{{this.time.year}}</h3></div>
        {{/showYear}}
        <ul class="archive">
            <li><time>{{time.day}}</time><a href="/p/{{_id}}">{{title}}</a></li>
        </ul>
    </div>
{{/each}}


