
<%- include header %>
<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a title="主页" href="/">home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a title="登录" href="/login">login</a></li>
            <li><a title="注册" href="/reg">register</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<%- include footer %>
